footer {
  background-color: #ff3131;
  height: auto;
  width: 100%;
  border-top: 1px solid #cccccc;
  margin-top: 70px;
}
footer p {
  text-align: center;
  align-items: center;
}

.cover-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem 0 1rem;
}

.top-boy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  border-bottom: 2px solid white;
  padding: 10px;
}

.bottom-boy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
}

.logo-column {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  flex-direction: row;
}

.policy ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.policy ul,
.policy li {
  list-style: none;
}

.policy a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  transition: 0.3s all;
  margin: 10px;
}

.policy a:hover {
  border-bottom: 1px solid white;
}

.copyright {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

i {
  margin: 20px;
  font-size: 30px;
}
